@tailwind base;
@tailwind components;
@tailwind utilities;

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: radial-gradient(circle, hsla(185, 57%, 27%, 1) 0%, hsla(180, 60%, 2%, 1) 90%);
    background-repeat: no-repeat;
    background-size: cover;
}